* {
  background: #000;
  color: white;
  font-size: 62.5%;
}

.main {
  margin: 100px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  text-align: center;
  display: block;
  text-decoration: none;
  transition: all 100ms 0ms ease;
  font-size: 2em;
  padding: 0.4em;
  border-radius: 0.5em;
}

a:hover {
  width: 220px;
  background: rgb(100, 134, 30);
  color: aquamarine;
  text-decoration: underline;
}

.link_container {
  margin: 0 auto;
  font-size: 1.24rem;
}
